
@import "./utils/variables";

@import "./utils/mixins";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative
}

header{
    @include flex;
    background: $text-color;
    width: 100%;
    padding-top: 0.5rem;
    top: 0;
    position: relative;
}

.logo{
    margin: 0.2rem auto;
}

.arrow{
    position: absolute;
    left: 4rem;
    transition: transform 0.3s ease-in-out;
    & a{
        font-size: 1.5rem;
        transition: color 0.3s ease-in-out;
    }
}

.arrow:hover{
    transform: translateX(0.3rem);
    & a:hover{
        color: $secondary-color;
    }
}

.banniere{
    position: absolute;
    display: flex;
    top: 14%;
    width: 100%;
    height: 80%;
    @include tablette{
        top: 6%;
    }
    & img{
        width: 100%;
        height: 60vh;
        object-position: center;
        object-fit: cover;
    }
}


@media(max-width:570px){
    .logo img{
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin: 0.5rem auto;
    }
}

@media(max-width:420px){
    .arrow{
        left: 1rem;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    padding: 1.5rem 1rem 2rem 1rem;
    z-index: 1;
    top: 24rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    @include shadow;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    & h1{
        @include title;
        font-size: 1.7rem;
    }
}

.coeur{
    display: flex;
    margin-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    & i{
    position: absolute;
    font-size: 1.8rem;
    left: 50%;
    line-height: 3rem;
    text-align: center;
    color: black;
    }
}

.coeur .fa-solid{
    color: transparent;
    @include gradient;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out;
    &:hover{
    opacity: 1;
    }
}

.coeur:hover .fa-regular{
    color: $main-color;
}



/*   --- box box box ---    */



.container__sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 1rem;
    @include tablette{
        grid-template-columns: repeat(1, 1fr);
    }
}


.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-menu{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    & h2{
        text-transform: uppercase;
        position: relative;
        font-size: 1.3rem;
        font-weight: 400;
        &::before{
            content: '';
            position: absolute;
            width: 50%;
            height: 4px;
            bottom: -7px;
            background: $secondary-color;
        }
    }
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: #fff;
    width: 100%;
    height: 4.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    margin: 0.8rem;
    &__text{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 10em;
        padding: 0.8rem 0 0 0.8rem;
        & h4, p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box__text h4{
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.box__text p{
    font-size: 0.9rem;
    font-weight: 400;
}

.prix{
    display: inline-flex;
    position: relative;
    width: 3em;
    padding-top: 2.2rem;
    & h3{
        font-size: 1rem;
        font-weight: 500;
    }
}

.box__icon{
    display: flex;
    width: 0;
    height: auto;
    background: $secondary-color;
    padding: 1.2rem 0rem;
    text-align: center;
    transition: width 0.4s ease-in-out;
}

.box__icon .fa-check{
    margin-left: 1rem;
    margin-top: 0.4rem;
    background: #fff;
    font-size: 1.3rem;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.9rem;
    color: $secondary-color;
    border-radius: 50%;
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

.box:hover .fa-check{
    transform: rotate(0deg);
}

.box:hover .box__icon{
    width: 4em;
}

/*   --- bouton ---    */


.bouton{
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-size: 1.2rem;
    padding: 12px 34px;
    border-radius: 25px;
    @include gradient;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, .3);
    transition: all 0.3s;
    animation: bouton2 3s 2s linear backwards;
}

@keyframes bouton2{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.bouton:hover{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, .5);
    background-image: linear-gradient(0deg,hsl(267, 66%, 70%),#ff79da);
    transform: translateY(-0.2rem);
}

/*   --- footer ---    */



.footer-content{
    background: #333;
    position: absolute;
    bottom: -90%;
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    @include tablette{
        bottom: -42%;
    }
}


.footer-content h1{
    @include title;
    color: $text-color;
    letter-spacing: 2px;
    text-shadow : 1px 1px #000, -1px -1px #333
}

.footer-content a{
    color: $text-color;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer-content .fa-utensils{
    color: $secondary-color;
    margin-right: 0.6rem;
}

.footer-content .fa-handshake{
    color: $primary-color;
    margin-right: 0.1rem;
}






.section__left .box1{
    animation-delay: 0.2s;
}
.section__left .box2{
    animation-delay: 0.4s;
}
.section__left .box3{
    animation-delay: 0.6s;
}
.section__center .box4{
    animation-delay: 0.8s;
}
.section__center .box5{
    animation-delay: 1s;
}
.section__center .box6{
    animation-delay: 1.2s;
}
.section__right .box7{
    animation-delay: 1.4s;
}
.section__right .box8{
    animation-delay: 1.6s;
}
.section__right .box9{
    animation-delay: 1.8s;
}

.section__left .box1, .box2, .box3 {
	-webkit-animation: slide-in-blurred-left 0.6s 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.section__center .box4, .box5, .box6{
    -webkit-animation: slide-in-blurred-bottom 0.6s 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-bottom 0.6s 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.section__right .box7, .box8, .box9{
    -webkit-animation: slide-in-blurred-right 0.6s 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-right 0.6s 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  @-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  